Repository 0scarecrow0/chrome-extensions-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --cache --write, stylelint --fix --max-warnings=0

.lintstagedrc:

{
  "src/**/*.{html,js,jsx,ts,tsx,json}": [
    "eslint --fix --max-warnings=0",
    "prettier --cache --write"
  ],
  "src/**/*.{css,less}": [
    "stylelint --fix --max-warnings=0",
    "prettier --cache --write"
  ]
}

fix: delete lock file
  pnpm-lock.yaml
Due: none

revert: lock file
  pnpm-lock.yaml
Due: none

fix: eslint ignore json
  .lintstagedrc
  eslint.config.js
Due: none

feat: update README
  README.md
  package.json
  pnpm-lock.yaml
Due: none

feat: update unocss
  src/assets/styles/uno.css
Due: prettier --cache --write, stylelint --fix --max-warnings=0

fix: nodemon ignore uno.css
  .prettierignore
  nodemon.json
  src/assets/styles/uno.css
  src/pages/popup/Popup.tsx
Due: eslint --fix --max-warnings=0, prettier --cache --write, stylelint --fix --max-warnings=0

fix: css
  src/pages/newtab/index.less
Due: prettier --cache --write, stylelint --fix --max-warnings=0

feat: add panels
  eslint.config.js
  src/pages/panel/InsertNode/index.less
  src/pages/panel/InsertNode/index.tsx
  src/pages/panel/index.tsx
  vite.config.ts
Due: eslint --fix --max-warnings=0, prettier --cache --write, stylelint --fix --max-warnings=0

Revert "fix: css"
  src/pages/newtab/index.less
Due: prettier --cache --write, stylelint --fix --max-warnings=0

fix: change css
  src/pages/newtab/index.less
Due: prettier --cache --write, stylelint --fix --max-warnings=0
